EVOLUTION_POSTGRES_DB=meridian_evolution
EVOLUTION_POSTGRES_USER=meridian
EVOLUTION_POSTGRES_PASSWORD=replace-for-nonlocal-use
EVOLUTION_API_KEY=local-evaluation-key
EVOLUTION_WEB_PORT=4174
EVOLUTION_API_PORT=5084
EVOLUTION_INTERNET_FEED_ENABLED=false
EVOLUTION_FEED_URL=
EVOLUTION_FEED_ALLOWED_HOST=
EVOLUTION_CODEMERIDIAN_ENABLED=false
EVOLUTION_CODEMERIDIAN_URL=http://host.docker.internal:5100
EVOLUTION_CODEMERIDIAN_API_KEY=
EVOLUTION_CODEMERIDIAN_PROJECT_CONTEXT=CodeMeridian
EVOLUTION_CODEMERIDIAN_TARGET_PROJECT=codemeridian
EVOLUTION_CHAT_MODEL_ENABLED=false
EVOLUTION_CHAT_MODEL_ENDPOINT=http://host.docker.internal:11434/v1/chat/completions
EVOLUTION_CHAT_MODEL_API_KEY=
EVOLUTION_CHAT_MODEL_NAME=
EVOLUTION_REASONING_PROVIDER=fake
