OBSERVABILITY_ENVIRONMENT=production

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=change-me-now
GF_USERS_ALLOW_SIGN_UP=false
GF_SERVER_ROOT_URL=http://localhost:3000
GF_SERVER_DOMAIN=localhost

GF_AUTH_AZUREAD_ENABLED=false
GF_AUTH_AZUREAD_NAME=Microsoft
GF_AUTH_AZUREAD_CLIENT_ID=
GF_AUTH_AZUREAD_CLIENT_SECRET=
GF_AUTH_AZUREAD_TOKEN_URL=
GF_AUTH_AZUREAD_AUTH_URL=
GF_AUTH_AZUREAD_SCOPES=openid email profile
GF_AUTH_AZUREAD_ALLOW_SIGN_UP=true
GF_AUTH_DISABLE_LOGIN_FORM=false
GF_USERS_AUTO_ASSIGN_ORG=true
GF_USERS_AUTO_ASSIGN_ORG_ROLE=Admin
